
/* sheared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 1000px;
    padding: 12px 20px;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
    
}
/* #body-color{
    border-color: #1A0B2E;
} */

/* main styles */
header{
    /* max-width: 1600px; */
    margin: 0 auto;
    /* background-color: #412567; */
}
nav{
    background-color: #412567;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-container h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
#h-gradient{
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav-container, .manu{
    display: flex;

}
.manu li{
    list-style-type: none;
}
.manu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-left: 40px;
}
