
/* sheared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.btn{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 1000px;
    padding: 12px 20px;
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
    
}
.paragrapg{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffffa2;
    line-height: 20px;
}
.section-heading{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
}
.flex{
    display: flex;
}
/* #body-color{
    border-color: #1A0B2E;
} */

/* main styles */
header{
    /* max-width: 1600px; */
    margin: 0 auto;
    background-color: #1A0B2E;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: rgba(65, 37, 103, 1); */
    border-bottom: 1px solid #412567;
    /* display: flex;
    justify-content: space-between; */
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
/* #navbar{
    display: flex;

} */
#navbar, h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}
#h-gradient{
    font-size: 2.5rem;
    font-weight: bold;
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nav-container, .manu{
    display: flex;

}
.manu li{
    list-style-type: none;
}
.manu li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    margin-left: 40px;
}
.nav-container img{
    margin-right: 20px;
    display: none;
}

/* banner section styles */
#banner{
    /* background-color: #412567; */
    background: url("../assets/hero-circle.png"), url("../assets/hero-bg.png");
    background-position: center 115px, center;
    background-repeat: no-repeat;
}
.banner-container{
    max-width: 550px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.banner-image{
    /* max-width: 350px;
    max-height: 350px; */
    background-image: ;
}
.banner-image img{
    /* border: 1px solid #412567;
    background-color: #412567; */
    max-width: 200px;
    margin-top: 170px;
}
.banner-content{
    max-width: 550px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.banner-content h2{
    font-size: 3.75rem;
    font-weight: 800;
    color: white;
    margin-top: 120px;
    margin-bottom: 8px;

}
.banner-content p{
    margin-bottom: 24px;
}
.btn-banner{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 255, 136, 1);
    border: 2px solid rgba(0, 255, 136, 1);
    border-radius: 1000px;
    background-color: transparent;
    padding: 12px 20px;
    margin-left: 10px;
}
.badge{
    font-size: 1.12rem;
    font-weight: 600;
    color: #1A0B2E;
    border-radius: 1000px;
    border: none;
    background-color: #00FF88;
    padding: 8px 16px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: relative;
    left: 120px;
    top: 130px;
}

/* about section styles */
main{
    background-color: #1A0B2E;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
}
.about-content{
    text-align: center;
    border-bottom: 1px solid #412567;
}
.about-content h2{
    margin-bottom: 20px;
    padding-top: 60px;
}
.about-content p{
    margin-bottom: 60px;
    line-height: 30px;
}
.about-info{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
    justify-items: center;
    margin-top: 80px;
}
.info-card{
    text-align: center;
    padding-bottom: 120px;
}
.info-card h2{
    font-size: 3rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
/* why section styels */
#why{
    background-color: rgba(35, 14, 61, 1);
}
#why h2{
    padding-top: 120px;
    margin-bottom: 40px;
}
.why-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 120px;
    /* justify-items: center; */
    /* align-items: center; */
}
#Premium{
    /* max-width: 380px;
    max-height: 450px; */
    grid-row: span 2;
}
#Mobile, #Global, #Exclusive{
    /* max-width: 790px;
    max-height: 225px; */
    grid-column: span 2;
}
#Rich{
    grid-column: span 1;
}
.why-card{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}
.why-card h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 16px 0;
}
.why-card p{
    line-height: 24px;
}

/* features section styles */
#features{
    max-width: 1200px;
    margin: 0 auto;
}
#features h2{
    padding-top: 120px;
    padding-bottom: 40px;
}
.features-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}
.features-card{
    /* position: relative; */
    max-width: 380px;
    border-radius: 40px;
    background-color: #250D44;
}
.features-card iframe{
    max-width: 100%;
    max-height: 214px;
    border-radius: 24px 24px 0 0;
}
.features-info{
    padding: 24px;
}
.features-info h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin: 16px 0;
}
.features-info p{
    padding-bottom: 12px;
}
.clock-p{
    color: #00FF88;
    padding-top: 10px;
}

/* meet section styles */
#meet{
    max-width: 1200px;
    margin: 0 auto;
    
}
#meet h2{
    margin-bottom: 40px;
}
.meet-container{
    padding-bottom: 120px;
}
.meet-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
.meet-content h3{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 16px;
}
.meet-content p{
    margin-bottom: 16px;
}
.meet-content img{

    border: 2px solid #412567;
    border-radius: 45%;
    padding: 10px;
}




/* footer section styles */
footer{
    /* max-height: 412px; */
   background: url("../assets/footer-bg.png"), #412567;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
#footer{
    max-width: 1360px;
    margin: 0 auto;
}
#footer h1{
    font-size: 5rem;
    font-weight: 900;
    color: white;
    text-align: center;
    padding-top: 110px;
    margin-bottom: 22px;
}
footer #h-gradient{
    font-size: 5rem;
    font-weight: 900;
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.icon{
    max-width: 580px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    justify-items: center;
    align-items: center;
}
.icon-container{
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
}
#apple-podcast{
    grid-column: span 2;
}
/* .icon-container img{
    max-width: 24px;
} */
.copy-right{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 120px;
}




/* media query for small divise */

@media screen and (max-width:576px) {
    /* navbar responsiv */
    .nav-container h1 {
        margin-left: 20px;
    }
    .hide{
        display: none;
    }
    .nav-container img{
    margin-right: 20px;
    display: inline;
}

/* about section responsive */
.about-info{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.info-card{
    text-align: center;
    padding-bottom: 50px;
}

/* why section responsive */
.why-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(0, 0fr);
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
}
.why-card{
    padding: 24px;
}
#Premium{
    grid-row: span 1;
}
#Mobile, #Global, #Exclusive{
    /* max-width: 790px;
    max-height: 225px; */
    grid-column: span 1;
}
#Rich{
    grid-column: span 1;
}

/* feature responsive */
.features-container{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}


/* meet the host responsive */
.meet-container{
    padding: 24px 20px 40px 20px;
}
.meet-box{
    flex-direction: column;
}
.meet-content{
    text-align: center;
    align-items: center;
}

/* footer risponsive */
#footer{
    padding: 40px 20px;
}
.icon{
    margin: 0 auto;
    max-width: 255px;
    /* max-height: 65px; */
    grid-template-columns: repeat(2, 1fr);
}
#apple-podcast{
    grid-column: span 1;
    gap: 16px;
}
.icon-container{
    padding: 0px;
    margin-bottom: 0px;
}
.copy-right{
    /* text-align: center; */
    margin-top: 25px;
    padding-bottom: 40px;
}
footer{
    /* max-height: 412px; */
   background: url("../assets/footer-bg.png"), #412567;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}

}